
/* UNIGE font color with rose background hook start*/

/*mouse over background of the links and buttons (primary-color)*/

/* SLSP color : #4E4A99 */
/* Rapido green : #3BBFAD */

/*background of the primary color*/

.prm-primary-bg,
prm-atoz-search-bar,
prm-browse-search-bar,
prm-collection-gallery-header .collection-header-inner,
prm-search-bar,
prm-newspapers-search-bar,
prm-spinner.overlay-cover.light-on-dark:after,
prm-tags-search-bar,
prm-tree-nav prm-spinner .diamond,
.prm-primary-bg,
md-checkbox.md-checked .md-icon,
md-tabs md-ink-bar,
md-radio-button.md-checked .md-on,
button.switch-to-simple,
.md-button.button-confirm,
prm-request-services .md-button.button-as-link,
prm-location-items md-list prm-service-button .md-button.button-as-link,
#rapidoOffer prm-service-physical-best-offer .get_it_btn_digital,
prm-service-physical-best-offer .get_it_btn_physical {
    background-color: #d80669 !important;
}


md-card.prm-primary-bg.psfooter>md-card-content a:hover,
md-icon.ps_icon:hover,
a.ps_link:hover,
a.ps_link.legal:hover,
span.legal a:hover,
button.switch-to-advanced:hover,
button.switch-to-simple:hover,
.md-button.button-confirm:hover,
.md-button.button-as-link:hover:not([disabled]),
#rapidoOffer prm-service-physical-best-offer .get_it_btn_digital:hover,
prm-service-physical-best-offer .get_it_btn_physical:hover {
    background-color: #393765 !important;
}

/*font color of the primary color*/

.prm-primary-bg,
prm-atoz-search-bar,
prm-browse-search-bar,
prm-collection-gallery-header .collection-header-inner,
prm-newspapers-search-bar,
prm-spinner.overlay-cover.light-on-dark:after,
prm-tags-search-bar,
prm-tree-nav prm-spinner .diamond,
.prm-primary-bg,
md-checkbox.md-checked .md-icon:after,
.md-button.switch-to-advanced,
button.switch-to-simple,
span.legal,
span.legal>a,
a.ps_link.legal,
.ps_icon,
md-card.prm-primary-bg.psfooter>md-card-content a,
.md-button.button-confirm,
prm-request-services .md-button.button-as-link,
prm-request-services .md-button.button-as-link:hover:not([disabled]),
prm-service-button .md-button.button-as-link:hover:not([disabled]),
prm-location-items md-list prm-service-button .md-button.button-as-link#rapidoOffer prm-service-physical-best-offer .get_it_btn_digital,
prm-service-physical-best-offer .get_it_btn_physical,
button#get_it_btn_digital {
    color: #fff !important;
}

button.switch-to-advanced.zero-margin.button-with-icon.md-button.md-primoExplore-theme.md-ink-ripple {
    border-color: #fff !important;
}

.prm-primary-bg {
    color: white !important;
    background-color: #d80669 !important;
}

.prm-search-bar {
    color: white !important;
    background-color: #d80669 !important;
}

.prm-primary-bg, prm-atoz-search-bar, prm-browse-search-bar, prm-collection-gallery-header .collection-header-inner, prm-search-bar, prm-newspapers-search-bar,
prm-spinner.overlay-cover.light-on-dark:after, prm-tags-search-bar, prm-tree-nav prm-spinner .diamond, .prm-primary-bg,
md-checkbox.md-checked ._md-icon, md-checkbox.md-checked .md-icon, md-tabs md-ink-bar, md-radio-button.md-checked ._md-on, md-radio-button.md-checked ._md-on, button.switch-to-simple, .md-button.button-confirm, prm-request-services .md-button.button-as-link, prm-location-items md-list prm-service-button .md-button.button-as-link {
    background-color: #d80669 !important;
}

@media (max-width: 599px) {
    prm-topbar .top-nav-bar {
        border-color: #d80669 !important;
    }
}

@media only screen and (max-width: 599px) {
    prm-topbar .top-nav-bar {
        border-color: #d80669 !important;
    }
}

/* UNIGE font color with rose background hook end*/

/* UNIGE change logo size */

prm-logo .product-logo {
    cursor: pointer;
    height: 100%;
    padding: .25em;
}

/* UNIGE location change of send-to section on page */  
/* Désactivé le 05.07.2023 pour être cohérent avec les autres IZs et remonte la section qui est trop bas après l'ajout de Metagrid */
/*
#full-view-container >*:first-child {
    display: flex;
    flex-direction: column;
}
#action_list {
    order: 99 !important;
}
*/

/* UNIGE location change of send-to section on navigation bar */  
/* Désactivé le 05.07.2023 pour être cohérent avec les autres IZs et remonte la section qui est trop bas après l'ajout de Metagrid */
/*
[aria-label="Send to"] {
    order: 99 !important;
}
[aria-label="Envoyer vers"] {
    order: 99 !important;
}
[aria-label="Senden an"] {
    order: 99 !important;
}
[aria-label="Invia a"] {
    order: 99 !important;
}
*/


/* UNIGE hide non swisscovery scopes on search form menus but display on advanced search */

.md-ink-ripple[value='UNIGE_EBOOKS'] {
  display: none;
}

.md-ink-ripple[value='CourseReserves'] {
  display: none;
}

/*
.suggestion-scope[translate='tabbedmenu.UNIGE_EBOOKS.label'] {
  display: none;
}

.suggestion-scope[translate='tabbedmenu.CourseReserves.label'] {
  display: none;
}
*/

ul > [ng-repeat='group in $mdAutocompleteCtrl.matches'] > li:nth-child(5) {
  display: none;
}

ul > [ng-repeat='group in $mdAutocompleteCtrl.matches'] > li:nth-child(6) {
  display: none;
}



/* UNIGE hide digitization links    

[translate='AlmaDigitization'] {
  display: none;
}

[translate='AlmaItemDigitization'] {
  display: none;
}

[translate='AlmaGeneralDigitization'] {
  display: none;
}

[translate='AlmaDigitizationOther'] {
  display: none;
}
*/

/* UNIGE hide ILL option for articles 
[aria-label='Article / Chapitre'] {
  display: none;
}

[aria-label='Article / Chapter'] {
  display: none;
}

[aria-label='Artikel / Kapitel'] {
  display: none;
}

[aria-label='Articolo / Capitolo'] {
  display: none;
}
*/

.unige_container {
  position: relative;
  width: 100%;
  /* max-width: 500px; */
  padding-left: 25px;
  padding-right: 25px;
}

.unige_overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  color: #f1f1f1; 
  width: 90%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 14px;
  padding: 10px;
  text-align: left;
  padding-left: 25px;
}

.unige_container:hover .unige_overlay {
  opacity: 1;
}

/* CSS of alert message UNIGE */
.unige-alert::after, .unige-alert::before {
    content: "";
    display: table;
    clear: both;
}

.unige-alert:hover {
    color: #000 !important;
    background-color: #ffeb3b !important;
}

.unige-alert {
    background-color: #ffeb3b !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 49%;
    padding: 10px;
    position: relative;
    text-align: center; 
    }
.unige-alert a {
    color: #000;
    text-decoration: underline !important;
}

@media (max-width: 1299px) {
    .unige-alert {
        background-color: #ffeb3b !important;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 90%;
        padding: 10px;
        position: relative;
        text-align: center;
    }
}

@media (max-width: 979px) {
    .unige-alert {
        background-color: #ffeb3b !important;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 90%;
        padding: 10px;
        position: relative;
        text-align: center;
    }
}

@media (max-width: 739px) {
    .unige-alert {
        background-color: #ffeb3b !important;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        margin: 0 auto;
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        position: relative;
        text-align: center;
    }
}

.unige-alert-close {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.unige-alert-close:hover {
  color: #d80669; 
}
/* End of CSS of alert message UNIGE */

/* CSS of news UNIGE */
.unige-news-headline{
    padding-bottom: 0!important;
}
.unige-all-news{
    padding-top: 16px!important;
}

/* put login button to the front */
prm-login button.md-no-style.md-button.md-primoExplore-theme.md-ink-ripple {
    z-index: 1;
}


/* CSS of home page UNIGE */
.card-item, .card-title {
  display: flex;
  align-items: center;
}

.card-item {
  padding: 4px 15px;
  background: #E8E8E8;
  margin: 0 0 3px;
  line-height: 1.0;
}

.toolkit-text {
  margin: 10px 15px;
}

.toolkit-text a {
  text-decoration: none;
  font-weight: 600;
  color: #000000;
}

.toolkit-text a:hover {
  color: #C40049;
  text-decoration: none;
  box-shadow: none;
}

.icon {
  height: 25px;
}

.icon-small {
  width: 25px;
}

.icon img {
  max-width: 100%;
}

.md-headline {
  margin-bottom: 0;
}

.layout-row-inscription {
  background-color: #ffeb3b;
}

md-card-title md-icon,
.md-subheader-content md-icon {
  transform: rotate(180deg);
  transition: transform 0.5s; }

md-card-title md-icon.toggled,
.md-subheader-content md-icon.toggled {
  transform: rotate(0deg);
  transition: transform 0.5s; }

md-card-title md-card-title-media .icon {
  height: 36px;
  width: 36px;
  margin-top: 6px;
  margin-right: 8px; }

md-card.default-card md-card-title:not(#featuredResultTitle), prm-featured-result-item md-card md-card-title:not(#featuredResultTitle) {
  padding: 16px 16px 16px;
}

.md-subheader .md-subheader-inner {
  display: block;
  padding: 16px 5px 5px 16px;
}

.collapsible {
  border-top: 1px dotted #a0a0a0;
}

.unige-scopes {
  font-size: 1.2em;
  line-height: 1.4rem;
  font-weight: 500;
}

/* UNIGE white color for buttons */
prm-service-button .md-button.button-as-link:hover:not([disabled]), prm-location-items md-list prm-service-button .md-button.button-as-link#rapidoOffer prm-service-physical-best-offer .get_it_btn_digital, prm-service-physical-best-offer .get_it_btn_physical, button#get_it_btn_digital, span.digiButton {
  color: #fff !important;
}

prm-request-services, prm-location-holdings .md-button.button-as-link {
  color: #fff !important;
}

prm-location-items prm-service-button .md-button.button-as-link {
  color: #fff !important;
}

md-dialog .md-list[class$="-line"] md-list-item, md-dialog .md-list[class$="-line"] md-list-item.md-no-style {
  color: #fff !important;
}

prm-service-button > button > span {
  color: #fff !important;
}

/* UNIGE white color for text DEMANDER */
.section-title > span {
  color: #3a3a3a !important;
}

/* Code pour masquer Observatoire du menu déroulant du bloc Rapido */
/* Désactivé le 21.12.2022 car mis en central
#prm_nui\.ngrs\.pickup\.information\.pickupLibrary[value="112048390005502"] { 
    display: none;
}
*/

/* Temporary alert banner for statistics */
/*
.unige-alert-2 { 
    display: inline-block; 
    background: #f7e74f; 
    text-align: center; 
    padding: 10px;
    width: 100%; 
    font-weight: bold; 
    color: black;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.03),0 5px 5px -3px rgba(0,0,0,.07);
    box-sizing: border-box;
    flex-direction: column;
}
*/

/* Code pour masquer le bouton de numérisation pour les autres bibliothèques */

prm-alma-other-members prm-service-button [aria-label="Digitization"] {
  display: none;
}

prm-alma-other-members prm-service-button [aria-label="Numérisation"] {
  display: none;
}

prm-alma-other-members prm-service-button [aria-label="Digitalisierung"] {
  display: none;
}

prm-alma-other-members prm-service-button [aria-label="Digitalizzazione"] {
  display: none;
}

prm-alma-other-members prm-service-button [aria-label="Order photocopies"] {
  display: none;
}

prm-alma-other-members prm-service-button [aria-label="Commander des photocopies"] {
  display: none;
}

prm-alma-other-members prm-service-button [aria-label="Kopienbestellung"] {
  display: none;
}

prm-alma-other-members prm-service-button [aria-label="Ordinare fotocopie"] {
  display: none;
}

/* Style pour les liens metagrid */
.eth-metagrid-poweredby {
  font-size: small;
}

.eth-metagrid-links{
    margin-top: 2.5em;
}

/* Style pour les boutons de gélocalisation */
prm-stack-map .md-button.button-link {
    background: #d80669 !important;
    color: #fffdfd !important;
    border: none;
}

/* Taille du bouton : pose problème pour les tableaux avec plusieurs localisations
prm-location prm-stack-map .md-button.button-link {
    line-height: 16px;
}
*/

/* Style pour les localisations ouvertes et fermées */
.open-closed-img img {
    float: left;
    margin-right: 10px;
}
.unige-open-txt {
    padding: 0.1em 0px 0px;
    font-size: 1em;
    color: green;
    display: flex;
    max-width: 400px;
}
.unige-closed-txt{
    padding: 0.1em 0px 0px;
    font-size: 1em;
    color: red;
    display: flex;
    max-width: 400px;
}

/* Style pour le menu des catégories pour les DBs */
#dBcategorize {
  min-width: 300px;
}

/* désactiver le label sur les thèmes dans la recherche des revues */
li[translate='nui.journalsearch.category.option3'] {
  display: none;
}

