<div class="open-closed-container" ng-if="$ctrl.usilocation.isopen && $ctrl.usilocation.isuge">
	<div class="open-closed-img">
		<img src="/discovery/custom/41SLSP_UGE-VU3/img/open_shelf_traced_icon.png" alt="">
	</div>
	<div class="open-closed-txt">
		<span style="padding: 0.1em 0px 0px; font-size: 1em; color: green; display: flex; max-width: 200px;" translate='unige.stacks_open'>
			Open stacks
		</span>
	</div>
</div>
<div class="open-closed-container" ng-if="!$ctrl.usilocation.isopen && $ctrl.usilocation.isuge">
	<div class="open-closed-img">
		<img src="/discovery/custom/41SLSP_UGE-VU3/img/closed_shelf_traced_icon.png" alt="">
	</div>
	<div class="open-closed-txt">
		<span style="padding: 0.1em 0px 0px; font-size: 1em; color: red; display: flex; max-width: 200px;" translate='unige.stacks_closed'>
			Closed stacks
		</span>
	</div>
</div>